*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;  
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 113px;
  }

.logo{
    background-image: url("../IMAGES/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 2px solid white;
}

.nav-address{
    padding: 5px;
}

.first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.second{
    color: #ffffff;
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon{
    display: flex;
    align-items: center;
}

.nav-search{
    display:flex;
    justify-content: space-evenly;
    background-color: pink;
    border-radius: 8px;
    height: 40px;
    width: 750px;
}

.search-select{
    background-color:#f3f3f3;
    padding: 5px;
    border: 0.8px solid black;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    color: #0f1111;
    display: flex;
    width: 45px;
    align-items: center;
    justify-content: center;
    font-size: large;
    background-color: rgb(255,174,0);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.language{
    display: flex;
    justify-content: center;
    height: 40px;
    width: 100px;  
}

.language-icon{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 30px;
    width: 100%;  
}

.select-language{
    background-color: #0f1111;
    color: #f3f3f3;
    margin-top: 7px;
    display: flex;
    align-items:center;
    height: 30px;
    width: 45px;
    border: none;
    font-size: 14px;
}

.account{
    margin-top:15px;
    margin-left: 15px;
    height: 50px;
    width: 130px;
}
.p-account{
    padding-left: 10px;
    font-size: 12px;
}

.select-account{
    width: 120px;
    border: none;
    background-color: #0f1111;
    color: #f3f3f3;
    font-size: 14px;
}

.p-return{
    font-size: 12px;
}

.p-order{
    font-size:14px ;
}

.nav-cart{
    display: flex;

}

.nav-cart{
    display: flex;
    justify-content: center;
    height: 40px;
    width: 100px;
}

.cart-icon{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 30px;
    width: 100%;
}

.p-cart{
    padding-top: 17px;
    font-size: 14px;
    font-weight: 500;
}

.panel{
    background-color: #072646;
    color: #f3f3f3;
    display:flex;
    justify-content: space-evenly;
    justify-content:start;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    height:40px;
}

.all{
    margin-left: 5px;
    margin-bottom: 5px;
}

.div-all{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    font-size: 16px;
}

.ops{
    display: flex;
    justify-content:space-evenly;
    width: 600px;
}
   
.hero{
    display: flex;
    justify-content:center;
    align-items: flex-end;
    background-image: url(../IMAGES/hero_image.jpg);
    height: 400px;
    background-size: cover;
}

.p-hero{
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    bottom: 250px;
    width: 80%;
    background-color: white;
    color: black;
    height: 40px;
}

a{
    margin-left: 10px;
    color: blue;
}

.shop-section{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    background-color: #e2e7e6;
}

.box1{
    background-color: white;
    color: black;
    width: 320px;
    height: 380px;
}

.p-game{
    display: flex;
    justify-content: center;
    padding-top:10px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 600;
}

.game{
    background-image: url(../IMAGES/box4_image.jpg);
    background-size: cover;
    height: 300px;
    width: 300px;
    margin-top: 10px;
    margin-left: 10px;
}


.box2{
    background-color: white;
    color: black;
    width: 320px;
    height: 380px;  
}

.p-clothes{
    display: flex;
    justify-content: center;
    padding-top:10px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 600;
}

.clothes{
    background-image: url(../IMAGES/box1_image.jpg);
    background-size: cover;
    height: 300px;
    width: 300px;
    margin-top: 10px;
    margin-left: 10px;
}


.box3{
    background-color: white;
    color: black;
    width: 320px;
    height: 380px;  
}

.p-accessories{
    display: flex;
    justify-content: center;
    padding-top:10px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 600;
}

.accessories{
    background-image: url(../IMAGES/box2_image.jpg);
    background-size: cover;
    height: 300px;
    width: 300px;
    margin-top: 10px;
    margin-left: 10px;
}

.box4{
    background-color: white;
    color: black;
    width: 320px;
    height: 380px;  
}

.p-girls{
    display: flex;
    justify-content: center;
    padding-top:10px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 600;
}

.girls{
    background-image: url(../IMAGES/box8_image.jpg);
    background-size: cover;
    height: 300px;
    width: 300px;
    margin-top: 10px;
    margin-left: 10px;
}



.deal-section{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    background-color: #e2e7e6;
}

.box5{
    background-color: white;
    color: black;
    width: 320px;
    height: 380px;  
}

.p-furniture{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
}

.furniture{
    background-image: url("../IMAGES/box3_image.jpg");
    background-size: cover;
    height: 300px;
    width: 300px;
    margin-top: 10px;
    margin-left: 10px;
}


.box6{
    background-color: white;
    color: black;
    width: 320px;
    height: 380px;
}

.p-makeup{
    display: flex;
    justify-content: center;
    padding-top:10px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 600;
}

.makeup{
    background-image: url("../IMAGES/box5_image.jpg");
    background-size: cover;
    height: 300px;
    width: 300px;
    margin-top: 10px;
    margin-left: 10px;
}


.box7{
    background-color: white;
    color: black;
    width: 320px;
    height: 380px;   
}

.p-pets{
    display: flex;
    justify-content: center;
    padding-top:10px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 600;
}

.pets{
    background-image: url("../IMAGES/box6_image.jpg");
    background-size: cover;
    height: 300px;
    width: 300px;
    margin-top: 10px;
    margin-left: 10px;
}

.box8{
    background-color: white;
    color: black;
    width: 320px;
    height: 380px; 
}

.p-toys{
    display: flex;
    justify-content: center;
    padding-top:10px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 600;
}

.toys{
    background-image: url("../IMAGES/box7_image.jpg");
    background-size: cover;
    height: 300px;
    width: 300px;
    margin-top: 10px;
    margin-left: 10px;
}

.back{
    background-color: #e2e7e6;
}

.footer1{
    margin-top: 20px;
    background-color: #12508f;
    color: white;
    height: 50px;
}

.p-footer1{
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.footer2{
    padding-top: 50px;
    display: flex;
    justify-content: space-evenly;
    height: 320px;
    background-color:  #072646;
    color: #f3f3f3;
}

.part-1{
    transform: translateX(-50px);
    font-size: 14px;  
}

#know{
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;  
}

#money{
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
}

.part-3{
    transform: translateX(20px);
    
}

#payment{
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
}

.part-4{
    transform: translateX(60px);
}

#help{
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 600;
}

p{
    margin-top: 10px; 
}

.footer3{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid white;
    height: 70px;
    background-color: #072646;
    color: #e2e7e6;
}

.logo-footer{
    margin-top: 5px;
    margin-bottom: 5px;
    background-image: url("../IMAGES/amazon_logo.png");
    background-size:contain;
    height: 50px;
    width:80px;
}

.footer4{
    background-color: #18263c;
    height: 50px;
}
.pages{
    text-align: center;
}

.anchor{
    color: white;
    margin-left: 15px;
    padding-top: 8px;
    font-size: 12px; 
}

.last{
    color: #f3f3f3;
    padding-top: 3px;
    text-align: center;
    font-size: 13px;
}
